.section {
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    border-top: 1px solid var(--color-dark-7);
    background-color: var(--color-light-1);
    box-shadow: 0 0 10rem rgba(5, 5, 5, 0.349);
}

.list {
    height: 100%;
}

.list ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.list>ul li>a {
    height: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-dark-6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    border-bottom: 2px solid transparent;
    transition: 0.1s;
}

.list>ul li.active>a {
    position: relative;
    color: var(--color-red-1);
    overflow: hidden;
}

.list>ul li.active>a::after{
    content: "";
    position: absolute;
    top: 2px;
    width: 50%;
    height: 4px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--color-red-1);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 3rem var(--color-red-1);

}